.sroot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
      }
      .hedi{
          align-items: center;
          padding-left: 11rem;
    
        
        }